/* .moving-graphics {
    width: 100px;
    height: 100px;
    background-color: #ff5733;
    margin: 20px auto;
    animation: moveGraphics 2s ease-in-out infinite;
  }
  
  @keyframes moveGraphics {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
   */
   
   