.home-container {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  color: #a72885;
  font-family: Chalkduster;
  font-size: 50px;
  padding-top: 5%;
}

.button-container {
  padding: 1%
}
.decision-button {
  background-color: #9369e04d;
  border: white solid 4px;
  border-radius: 5px;
  width: 1000px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 40px;
}

.decision-button:hover {
  background-color: #a7288592;
}

.decision-button span{
  color: #a72885;
  font-family: Chalkduster;
  font-weight: bold;
}
